{% extends "layout.html" %}

{% block body %}
    <p>
    The database has currently:
    </p>
    {% for amount in recipeCount %}
    <hr>
    <tr>
      <td>{{ amount }}</td>
    </tr>
    <hr>
     <p>
    Recipes with ingredients
    </p>


    {% endfor %}
    </ul class="list-group">
  {% if has_ingredients is defined %}

    <ul class="list-group">
  {% for recipes in has_ingredients %}
    <li class="list-group-item">
        <a href="recipes/{{ recipes.id }}">{{recipes.name}}</a>
    </li>
    {% endfor %}
    </ul>

    {% endif %}

{% endblock %}