{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Recipe</th>
    </tr>
    {% for recipes in recipes %}
    <tr>
      <td>{{ recipes.name }}</td>
    </tr>

    {% endfor %}
    </ul>
  {% if has_ingredients is defined %}
    <p>
    The following recipes has ingredients:
    </p>

    <ul>
  {% for recipes in has_ingredients %}
    <li>
        <a href="recipes/{{ recipes.id }}">{{recipes.name}}</a>
    </li>
    {% endfor %}
    </ul>

    {% endif %}
  </table>

{% endblock %}