{% extends "layout.html" %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $(function() {
      $('a#test').bind('click', function() {
        $.getJSON('/add_to_favorites',
            function(data) {
        });
        return false;
      });
    });
</script>

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Recipe for: </h1>
                <hr>
                <div class="card">
                    <div class="card-body">
                        <h4>{{ recipe.name }}</h4>
                        <hr>
                        <ul>
                        {% for ingredient in ingredients %}
                        <tr>
                            <li>
                                <td>{{ ingredient.name }}</td>
                        </tr>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <form action="/add_to_favorites/" method="post">
        <a href=# id=test><button type="submit" class="btn btn-primary">Add to favorites</button></a>
        </form>
    </div>

{% endblock %}